body {
  text-align: center;
  background-color: gray;
}

article {
  text-align: left;
  width: 80%;
  border: 1px solid black;
  padding: 15px;
  border-radius: 20px;
  margin: 20px auto;
  box-shadow: 5px 5px 5px black;
  background-color: lightgray
}

p {
  border-bottom: 1px solid gray;
}

table, td, th{
  border:1px solid black;
  border-collapse: collapse;
}